
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.header {
    background-color: #9E63FF;
    width: 100%;
    height: 5rem;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.city {
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.date {
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 6rem;
}

.pageTitle{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    margin-left: 4rem;
}

.weather{
    width: 9rem;
    height: 3.5rem;
    margin-right: -1rem;
    border: solid .15rem black;
    border-radius: 100px 0 0 100px;
    
}

.temp{
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    margin-top: .5rem;
}

.icon{
    width: 3rem;
    height: 3rem;
    margin-top: .8rem;
    filter: grayscale(100%)
}

.search-button {
    border-radius: 3.125rem;
    height: 2.3rem;
    width: 2.3rem;
    color: white;
    background-color: black;
    border: none;
}

#city-search-input {
    border-radius: 3.125rem;
    border: .1rem solid black;
    height: 2.5rem;
    margin-right: .3rem;
}


#datepicker {
    border-radius: 1.875rem;
    height: 2.5rem;
    border: solid black .1rem;
}

/*parameter selector buttons*/
.para-buttons {
    border-radius: 3.125rem;
    padding: 0.625rem;
    
}

/*radio button styling*/

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: white;
    padding: 0.313rem 0.313rem;
    font-family: sans-serif, Arial;
    font-size: 1rem;
    border: 0.1rem solid black;
    border-radius: 2.188rem;
    margin-top: 1em;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #9E63FF;
    border-color: #9E63FF;
    color: white;
}

.tags {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 border-radius: 3.125rem; 
 padding: 0.625rem;
}

.calendar {
    display: flex;
    flex-direction: row;
    margin: 1.25rem;
    border-radius: 3.125rem;
    border: 0.625rem;
    border-color: black;
}

.pagebottom{
    background-color: black;
    width: 100%;
    min-height: 12.5rem;
    height: max-content;
    padding-bottom: 1.25rem;
}

.events{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Selects all cards of the events section*/
.cards{
    width: 11.25rem;
    height: 12.5rem;
    background-color: white;
    margin: 1rem;
    border: solid .125rem black;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: .25rem;
}

.cards:hover{
    width: 17.5rem;
    height: 18.75rem;
    margin: 1rem .25rem 1rem .25rem;
    min-height: fit-content;
    transition: 500ms;
}

.eventname{
    font-weight: 700;
    font-size: 1.188rem;
    line-height: 1.125rem;
    margin: 4% 4% 4% 5%;
    color:  #9E63FF;
    
}

.cards:hover .eventname{
    font-size: 1.75rem;
    line-height: 1.625rem;
    transition: 500ms;
    text-shadow: 0.063rem 0.063rem .125rem black,
    /* 0 0 1.563rem blue,
    0 0 .313rem darkblue; */
}

.venue{
    display: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.125rem;
    margin: 0 3% 0 5%;
}

.cards:hover .venue{
    display: block;
}

.time{
    font-weight: 300;
    font-size: 1.25rem;
    margin: 0 0 0 5%;
}

.eventpic{
    object-fit: cover;
    width: 90%;
    height: 60%;
    margin-left: 5%;
}

.sitebutton{
    opacity: 0%;
    width: 3.125rem;
    height: max-content;
    background-color: #9E63FF;
    border-radius: 6.25rem;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: -10% 0 5% 75%;
}

.cards:hover .sitebutton{
    opacity: 100%;
    transition: 1000ms;
    color: white;
}

