

.header {

    color: white;
    background-color: #9E63FF;
    padding: 1.25rem;

    background-color: #499edb;
    padding: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 1.563rem;
    
}

/* round edges - border radius 
justify content is a flex property look up on css flexbox tricks 
fix why you cant style as a group
px to rem */
.title  {
    text-align: center;
    color: white;
    text-align: center;
    font-weight: bold;
}

.day{
    padding: 1.563rem ;
    color: white;
    background-color: #9E63FF;
}

#ui-state-default{
    color: #9E63FF;
}

    margin-bottom: 1vh;
}





#city {
    font-weight: bold ;
    color: black;  
}

#date {
    color: black;
}

.search-button {
    border-radius: 50px;
}

#city-search-input {
    border-radius: 50px;
}


button{
    display: inline-block;
    background: #9E63FF;
    color: white;
    cursor: pointer;
    padding: 0.313rem 0.625rem 0.313rem 0.313rem; 
}

#search {
    border: 0.125rem;
    border-color: black ;
    border-radius: 3.125rem;
    margin: 1.25rem;
}
form{
    padding: 0rem 0rem 0.125rem 15px;

#city-search-input button {
    border-radius: 50px;
}

#datepicker {
    border-radius: 30px;
}

/*parameter selector buttons*/
.para-buttons {
    border-radius: 50px;
    padding: 10px;
    
}

/*radio button styling*/

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;

}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 5px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 35px;
    margin-top: 1em;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #bfb;
    border-color: #4c4;
}

.tags {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 border-radius: 3.125rem; 
 padding: 0.625rem;
}

.calendar {
    display: flex;
    flex-direction: row;

    margin: 1.25rem;
    border-radius: 3.125rem;
    border: 0.625rem;
    border-color: rgb(27, 27, 27);

    margin: 20px;
    border-radius: 50px;
    border: 10px;
    border-color: black;

}

.pagebottom{
    background-color: black;
    width: 100%;
    min-height: 12.5rem;
    height: max-content;
    padding-bottom: 1.25rem;
}

.events{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Selects all cards of the events section*/

.events > div {
    width: 11.25rem;
    height: 12.5rem;
    background-color: white;
    margin: 1.25rem;
    border: solid 0.125rem black;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}


.cards{
    width: 11.25rem;
    height: 12.5rem;
    background-color: white;
    margin: 125rem;
    border: solid 0.125rem black;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border-radius: 20px;
}

.cards:hover{
    width: 17.5rem;
    height: 18.75rem;
    min-height: fit-content;
    transition: 500ms;
}

.eventname{
    font-weight: 700;
    font-size: 1.188rem;
    line-height: 11.75rem;
    margin: 4% 4% 4% 5%;
    color:  #9E63FF;
    
}

.cards:hover .eventname{
    font-size: 1.75rem;
    line-height: 1.625rem;
    transition: 500ms;
    text-shadow: 1px 1px 2px black,
    0 0 25px blue,
    0 0 5px darkblue;
}

.venue{
    display: none;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.125rem;
    margin: 0 3% 0 5%;
}

.cards:hover .venue{
    display: block;
}

.time{
    font-weight: 300;
    font-size: 1.25rem;
    margin: 0 0 0 5%;
}

.eventpic{
    object-fit: cover;
    width: 90%;
    height: 60%;
    margin-left: 5%;
}

.sitebutton{
    opacity: 0%;
    width: 3.125rem;
    height: max-content;
    background-color: #9E63FF;
    border-radius: 6.25rem;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 0% 0% 5% 75%;
}

.cards:hover .sitebutton{
    opacity: 100%;
    transition: 1000ms;
    color: white;
}



/* Calender Design */
/* Color for NonNumeric Font, Color for Background, Height, Width, Font Weight */
#ui-datepicker-div{
    color: white;
    font-weight: 500;
    background-color: #9E63FF;
    height: 18rem;
    width: 22rem;
    border-radius: .4rem;
    text-align: center;
}
/* color, Size, and Weight for Numeric Font  */
.ui-state-default{
    color: #ffffff;
    margin: .5rem;
    font-weight: 700;   
    
} 
/* Hover Feature */
.ui-state-default:hover{
    color: #9E63FF;
    background-color: white;
    margin: .5rem; 
} 
/* Current Day */
.ui-state-highlight{
    color: #9E63FF;
    background-color: white;
}
/* Spacing for numeric days */
td{
    padding: .5rem .5rem;
}
/* Calender Design */